<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">

<link rel="import" href="../../../styles/cpt_icon-styles.html">

<dom-module id='cpt_icon-cpt'>
    <style>
    </style>

    <template>
        
        <!-- include the styles for icons -->
        <style include="cpt_icon-styles"></style>
        
        <!-- icon -->
            <paper-icon-item>
                <paper-fab mini draggable="false" src="[[computed_src(imgsrc)]]" class="UIcatalogIcons" item-icon></paper-fab>
                <span>[[txt]]</span>
            </paper-icon-item>
        
    </template>
    <script>
        Polymer({
            is: 'cpt_icon-cpt',

            extends: 'div',

            properties: {
                imgsrc: {
                    type: String,
                    value: 'oo'
                },
                
                txt: {
                    type: String,
                    value: ""
                }
            },

            computed_src: function(imgsrc) { return "images/cpt_icons/" + this.imgsrc + ".png"}

        });
    </script>
</dom-module>