<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-input/iron-input.html">

<link rel="import" href="cpt_icon-cpt.html">

<link rel="import" href="../behaviours/TextCptBehavior.html">

<dom-module id='h1-cpt'>
	<style>
		
		.development {
			font-family: RobotoDraft, Helvetica, Arial, sans-serif;
			font-kerning: auto;
			font-size: 24px;
			font-stretch: normal;
			font-style: normal;
			font-variant: normal;
			font-variant-ligatures: normal;
			font-weight: 600;
			font-family: "Open Sans";
			margin: 5px;
			padding: 5px;
			border-radius: 4px;
			border: 1px dotted rgb(150, 150, 150);
		};
		
		.development .icons {
			border: none;
			cursor: pointer;
		}
		
		.operational {
			font-family: RobotoDraft, Helvetica, Arial, sans-serif;
			font-kerning: auto;
			font-size: 16px;
			font-stretch: normal;
			font-style: normal;
			font-variant: normal;
			font-variant-ligatures: normal;
			font-weight: 300;
			background-color:rgb(150, 150, 150);
			font-family: "Open Sans";
			margin: 5px;
			padding: 5px;
			min-height: 200px;
			border-radius: 4px;
		}
	</style> 
	<template>
	  
		<!-- Development -->
		<div class="layout vertical flex development" hidden$='[[!isMode("Development", mode)]]' style='cursor: move;padding:5px;'>
			<div class="layout horizontal">
				<!-- data bind control -->
				<div class="layout end-justified development icons">
					<iron-icon title="Bind this component to the data fields of the parent container" id="iconLayoutLink" icon="icons:link" on-click="connectCpt"></iron-icon>
				</div>
				<!-- delete control -->
				<div class="layout end-justified development icons">
					<iron-icon title="Delete this component" id="iconLayoutDelete" icon="icons:delete" on-click="txRemoveNodeChild"></iron-icon>
				</div>
			</div>
			<input is="iron-input" id="dev_input" class="style-scope paper-input" required="" autocomplete="off" placeholder="text" aria-describedby="" name="h1" aria-labelledby="paper-input-label-836" on-mouseout="displayedTextChanged">
		</div>
		
		<!-- Operational -->
		<div hidden$='[[!isMode("Operational", mode)]]'>
			<h1>[[displayedText]]</h1>
		</div>
		
		<!-- Icon -->
		<div hidden$='[[!isMode("Icon", mode)]]'>
			<div is="cpt_icon-cpt" draggable="false" imgsrc="title_h1" txt="title <h1>"></div>
		</div>
	</template>

	<script>
	  Polymer({
		is: 'h1-cpt',
		
		behaviors: [ToasterTxBehavior, DropBehavior, ModeChangedBehavior, UtilitiesBehavior, TextCptBehavior],
          
		extends: 'div'
		
	  });
	</script>
</dom-module>