<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">

<link rel="import" href="table_header-cpt.html">

<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">

 <link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">

<!-- Behaviours -->
<link rel="import" href="../behaviours/DropBehavior.html">
<link rel="import" href="../behaviours/ModeChangedBehavior.html">
<link rel="import" href="../../../generic-app/behaviours/ToasterTxBehavior.html">
<link rel="import" href="../../../generic-app/behaviours/UtilitiesBehavior.html">

<link rel="stylesheet" href="../../../scripts/mdl/material.min.css">
<script src="../../../scripts/mdl/material.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- To render correctly under mobile device http://www.getmdl.io/started/index.html#general-rules -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div is="table-cpt" mode="Development"></div>

<dom-module id='table-cpt'>
	<style>
		.development .icons {
			border: none;
			cursor: pointer;
		}
	</style>
	<template>
		<style>
		
		.development .icons {
			border: none;
			cursor: pointer;
		}
		
		.headerCol {
			width: 150px;
		}
		
		.headerTitleCol {
			max-width: 80px;
		}
		
		.headerFont {
			font-size: 12px;
		}
		
		.iron-selected {
		  background: #eee;
		}
		</style>
		
		<!-- Development -->
		<div class="layout auto-vertical flex" hidden$='[[!isMode("Development", mode)]]'>
			<!-- Dialog box for parent source control in development mode -->
			<paper-dialog id="modalParentColSource" modal="" role="dialog" tabindex="-1" aria-modal="true" class="x-scope paper-dialog-0" style="outline: none; box-sizing: border-box; position: static; display: none;" aria-hidden="true">
				<div style="padding:20px;">
					<h2>Parent Source</h2>
					<paper-dialog-scrollable>
							<iron-selector id="parentColSourceSelector" selected="[[currentParentColSource.id]]" attr-for-selected="id">
								<template is="dom-repeat" items="[[currentParentColSourceList]]">
									<div id="[[item.id]]">[[item.title]]</div>
								</template>
							</iron-selector>
					</paper-dialog-scrollable>
					<div class="buttons">
						<paper-button dialog-dismiss>Cancel</paper-button>
						<paper-button dialog-confirm on-click="validateParentColSource">Accept</paper-button>
					</div>
				</div>
			</paper-dialog>
			
			<!-- table-->
			<div class="layout flex horizontal">
				<div id="divTable">
					<table id="myTable">
						<thead>
							<tr id="myTableTheadTr">
								<template is="dom-repeat" items="[[headersList]]" observe="*">
									<th is="table_header-cpt" mode="Development" header-Title="{{item.title}}" id="[[index]]"></th> 
								</template>
							</tr>
						</thead>
						<tbody>
							<tr id="myTableTbodyTr">
								<template is="dom-repeat" items="[[headersList]]" observe="*">
									<td class="headerCol"><b><span>Content </span><span>{{item.title}}</span></b></td>
								</template>
							</tr>
							<tr id="myTableTbodyTr">
								<template is="dom-repeat" items="[[headersList]]" observe="*">
									<td class="headerCol"><span>... </span></td>
								</template>
							</tr>
						</tbody>					
					</table>
				</div>
				<div>
					<iron-icon title="add a column to the table" icon="icons:add-box" data-dialog="modal" on-click="addColumn"></iron-icon>
				</div>
			</div>
		</div>
		
		<!-- Operational -->
		<div hidden$='[[!isMode("Operational", mode)]]'>
			<div class="layout horizontal flex">Table</div>
		</div>
		
		<!-- Icon -->
		<div hidden$='[[!isMode("Icon", mode)]]'>
			<div draggable="false" is="layout-icon">poo</div>
		</div>
		
	</template>
	<script>
		Polymer({
			is: 'table-cpt',
			
			behaviors: [ToasterTxBehavior, DropBehavior, ModeChangedBehavior, UtilitiesBehavior],
			
			extends: 'div',
			
			properties: {
				/* UI structure */
				// UI children
				table: Object,
				header: Object,
				body: Object,
				headerRow: Object,
				bodyRow: Object,
				
				numHeaderCols: {
					value: 0,
					type: Number
				},
				
				headersList: {
					type: Array,
					value: []
				},
				
				// For selection of the current Parent Col Source
				currentHeaderId: Number,
				currentParentColSource: Object,
				callerParentColSource: Object,
				currentParentColSourceList: Array
				
			},
			
			listeners: {
				'removeHeaderCol': 'removeHeaderCol',
				'selectParentColSourceRequest': 'selectParentColSource'
			},
				
			ready: function() {
			
				// Find a <table> element with id="myTable":
				this.table = this.$.myTable;
				this.table.className  = "mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp";
				
				// Add a first column
				this.addColumn();			
				
			},
			
			addColumn: function() {
				
				var myTable = this.$.myTable;
				
				this.push( 'headersList', { 'id': this.numHeaderCols, 'title': 'header' + this.numHeaderCols} );
				
				// Increment the number of columns
				this.numHeaderCols = this.numHeaderCols + 1;
				
				// Upgrade the component for Javascript behaviour mdl after DOM modified
				componentHandler.upgradeElement(this.$.myTable);
			},
			
			removeHeaderCol: function(ev) { this.splice( 'headersList', ev.detail.id , 1);},
			
			selectParentColSource: function(ev) {
				var msg = ev.detail;
				var that = this;
				
				// update the current header variables
				this.currentHeaderId = msg.id;
				this.currentParentColSource = msg.ParentColSource;
				this.callerParentColSource = ev.srcElement;
				
				// Update the list of possible parent col source for the current header
				this.currentParentColSourceList = [];
				this.headersList.forEach(function(t){ if (t.id != that.currentHeaderId) that.push( 'currentParentColSourceList', t);});
				
				// Open the modal window
				this.$.modalParentColSource.open();
			},
						
			validateParentColSource: function(ev) {
				var parentColSourceSelected = this.$.parentColSourceSelector.selected;
				this.currentParentColSource = this.headersList[parentColSourceSelected];
				var caller = Polymer.dom(this.callerParentColSource);
				caller.setAttribute("current-parent-col-source", JSON.stringify(this.currentParentColSource));
			},
			
			myDeleteFunction: function() {
				document.getElementById("myTable").deleteRow(0);
			}
		});
	</script>
<dom-module>