<script src="../../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>

<link rel="import" href="../../../bower_components/hot2-table/hot-table.html">

<hot-table datarows="{{itemsArray}}"></hot-table>

<script>
    var data = [
      ["", "Ford", "Volvo", "Toyota", "Honda"],
      ["2014", 10, 11, 12, 13],
      ["2015", 20, 11, 14, 13],
      ["2016", 30, 15, 12, 13]
    ];

    var container = document.getElementById('example');
    var hot = new Handsontable(container, {
      data: data,
      minSpareRows: 1,
      rowHeaders: true,
      colHeaders: true,
      contextMenu: true
    });
</script>