<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-input/iron-input.html">

<link rel="import" href="../../../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/communication-icons.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="cpt_icon-cpt.html">
<link rel="import" href="basic-txt-cpt.html">

<link rel="import" href="../../../generic-app/behaviours/TextCptBehavior.html">
<link rel="import" href="../../../generic-app/basic-cpt/icon-with-tooltip-cpt.html">

<dom-module id='text-cpt'>
	<style>
        
        :host {
            --my-text-theme: {
                border-width: 0px;
                font-size: 16px;
                font-family: 'Open Sans';
                background-color:rgb(250,250,250);
                rgb(51, 51, 51);
            };
        }
        
	</style> 
	<template>
        <basic-txt-cpt icon_src="text"
                       icon_caption="text"
                       displayed-text="[[displayedText]]"
                       mode="[[mode]]"
                       is-html
                       node-owner="[[nodeOwner]]"
                       active-change-request="[[activeChangeRequest]]">
        </basic-txt-cpt>
	</template>

	<script>
	  Polymer({
        is: 'text-cpt',

        extends: 'div',
          
        behaviors: [DropBehavior, ModeChangedBehavior],
          
        properties: {
            activeChangeRequest: {
                type: String,
                value: ''
            }
        }
		
	  });
	</script>
</dom-module>